body {
	color: #5d5d5d;
    font-family: 'Circular',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5em;
}

img {
	margin-right: 8px;
	margin-top: 40px;
	border: 2px solid black;	
}

.header-container {
	margin: 0 auto;
    max-width: 100%;
    height: 300px;
    /*border: 1px solid blue;*/
}

.header-column-one {
	/*border: 1px solid red;*/
	float: left;
	font-family: 'Circular',sans-serif; 
	font-size: 20px;
	width: 28%;
	height: 100%;
	margin-right:80px;
	position: relative;
	display: block;
	/*overflow: hidden;*/
}

.logo {
	float: left;
	margin-left: 5.8%;
	width: 86%;

}

.header-column-two {
	/*border: 1px solid green;*/
	width: 50%;
	display: block;
	box-sizing: border-box;
	padding:0px;
	position: relative;
	float: left;
	padding: 40px 10px;
}

.header-column-two li {
	font-family: 'Circular',sans-serif; 
	font-size: 20px;
}





.header-column-three li {
	font-family: 'Circular',sans-serif; 
	font-size: 20px;
}

.header-column-three {
	/*border:1px solid red;*/
	position: relative;
	float: right;
	display: block;
	right:5%;
	top:25%;
}

.contact-page {
	/*border: 1px solid black;*/
}

.image-container {
	float: left;
	/*text-align: center;*/
	/*border: 1px solid red;*/
}

.image-container-wrapper {
	/*border: 1px solid green;*/
	position: relative;
	/*float: left;*/
	display: inline-block;
	float: left;
	margin-left: 2%;
}

.img-figure {
	display: block;
	font-size: 15px;
	line-height: 1.5em;
	/*border: 1px solid red;*/
	line-height: 1.5em;
	position: relative;
	float: left;
	z-index: 0;
	margin-bottom: 6%;
}
.img-figure:hover {
	background-color: transparent;
	z-index: 50;
}

.img-figure span { /*CSS for enlarged image*/
	position: absolute;
	visibility: hidden;
	background-color: lightyellow;
	padding: 5px;
	border: 2px solid black;
}

.img-figure span img { /*CSS for enlarged image*/
	border: 1px solid black;
	
}

.img-figure:hover span {
	visibility: visible;
	bottom: 13%;
	left: 2%; /*position where enlarged image should offset horizontally */

}

.top-caption {
	font-weight: bold;
	font-size: 16px;
}


/*STYLING FOR LAST IMAGE IN ROW. HOVER IMAGE TO THE LEFT*/


.img-figure-left {
	display: block;
	font-size: 15px;
	line-height: 1.5em;
	/*border: 1px solid red;*/
	line-height: 1.5em;
	position: relative;
	/*float: left;*/
	z-index: 0;
	margin-bottom: 6%;
}
.img-figure-left:hover {
	background-color: transparent;
	z-index: 50;
}

.img-figure-left span { /*CSS for enlarged image*/
	position: absolute;
	visibility: hidden;
	background-color: lightyellow;
	padding: 5px;
	border: 2px solid black;
}

.img-figure-left span img { /*CSS for enlarged image*/
	border: 1px solid black;
	
}

.img-figure-left:hover span {
	visibility: visible;
	bottom: 13%;
	left: 2%; /*position where enlarged image should offset horizontally */
}





/* FOOTER STYLING */

footer {
	bottom: 0;
    left: 0;
    width: 100%;
    background: #232729;
    color: #b8bec1;
    overflow: hidden;
    z-index: 0;
    height: 50%;
}

.inner {

}

footer .footer-container {
	width: 1080px;
    margin-left: 27%;
    /*border: 1px solid red;*/

}

.clearfix {

}

.footer-head {
	text-align: center;

}

.footer-head p {
	display: inline;
}
.footer-title {
	margin-top: 2%;
	float: left;
	text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.footer-description {
	float:right;
	margin-right: 20%;
	margin-top: 2%;
	color: #b8bec1;
	/*line-height: 29px;*/
}

.footer-separator {
	display: block;
    width: 80%;
    height: 10px;
    background: #35393b;
    /*border:1px solid red;*/
    position: relative;
    top:60px;
}

.footer-content {
	margin-top: 5%;
	/*border: 1px solid blue;*/
}


.coordinates {
	/*border:1px solid red;*/
	float: right;
	top:60px;
	position: relative;
	right:30%;
	font-weight: 500;
	font-family: 'Circular',sans-serif;
}











/* DESKTOP VERSION OF */

@media all and (min-width: 480px) {

}


/*font-family: 'Circular',sans-serif;*/

/*raising height of footer box*/

/*on last image move image on hover to the left*/








